<div
  class="w-100 paddin-response bg-gorgeous-color shadow-sm p-3 d-relative"
  *ngIf="!successSubmit"
>
  <app-loadingProgressDynamic
    *ngIf="loadingProgress === 'step changed'"
  ></app-loadingProgressDynamic>
  <form [formGroup]="formNewPost" class="w-100">
    <ng-container>
      <div class="d-relative">
        <div>
          <app-loadingProgressDynamic
            *ngIf="loadingProgress === 'sex changed'"
          ></app-loadingProgressDynamic>
        </div>
        <div>
          <div class="animation-fadein field-div">
            <label class="bg-gorgeous-color text-creamy w-100 p-2"> تایپ</label>
            <mat-select formControlName="group">
              <mat-option
                *ngFor="let item of groupCats"
                selected
                [value]="item.id"
                >{{ item.title }}</mat-option
              >
            </mat-select>
          </div>
          <div class="animation-fadein field-div">
            <input
              #title
              id="title"
              matInput
              maxlength="20"
              placeholder="عنوان"
              formControlName="title"
            />
          </div>
          <div class="animation-fadein field-div">
            <div>
              <input
                placeholder="برچسب ها"
                matInput
                formControlName="category"
                *ngIf="selectedCategory?.length <= 5"
              />
            </div>
            <div class="d-relative parent-result bg-gorgeous-color mb-2">
              <div class="d-result-absolute bg-blueblack">
                <ng-container *ngIf="categories[0]">
                  <div
                    class="p-2 cursor-pointer links bg-gorgeous-color"
                    *ngFor="let item of categories"
                    (click)="makeCategory(item.name)"
                  >
                    {{ item.name }}
                  </div>
                </ng-container>
              </div>
            </div>

            <div class="p-2 mt-2 mb-2">
              <ng-container *ngFor="let item of selectedCategorySet">
                <span
                  *ngIf="item !== ''"
                  (click)="removeFromCategory(item)"
                  class="text-dark p-1 m-1 bg-light-pink pr-3 pl-3 rounded links"
                >
                  {{ item }}
                </span>
              </ng-container>
            </div>
          </div>

          <div class="animation-fadein field-div">
            <label class="bg-gorgeous-color text-creamy w-100 p-2"> برند</label>
            <input
              #brand
              id="brand"
              matInput
              placeholder="برند"
              formControlName="brand"
            />
          </div>
          <div class="animation-fadein field-div">
            <label class="bg-gorgeous-color text-creamy w-100 p-2"> رنگ</label>
            <mat-select formControlName="color" multiple>
              <mat-option selected value="green"> سبز</mat-option>
              <mat-option value="blue"> آبی</mat-option>
              <mat-option value="yellow"> زرد</mat-option>
            </mat-select>
          </div>
          <div class="animation-fadein field-div">
            <label class="bg-gorgeous-color text-creamy w-100 p-2"> سایز</label>
            <mat-select formControlName="sizes" multiple>
              <mat-option selected value="2x"> 2x</mat-option>
              <mat-option value="3x"> 3x</mat-option>
              <mat-option value="4x"> 4x</mat-option>
            </mat-select>
          </div>
          <div class="animation-fadein field-div">
            <h3 class="p-2 m-1 text-white">قیمت</h3>
            <input #price id="price" matInput formControlName="price" />
          </div>
          <div class="animation-fadein field-div">
            <label class="bg-gorgeous-color text-creamy w-100 p-2"> جنس</label>
            <mat-select formControlName="material">
              <mat-option value="ج۱"> ج۱</mat-option>
              <mat-option value="ج۲">ج۲</mat-option>
            </mat-select>
          </div>

          <div class="animation-fadein field-div">
            <label class="bg-gorgeous-color text-creamy w-100 p-2">
              مناسب برای</label
            >
            <mat-select formControlName="sx">
              <mat-option value="women"> بانوان</mat-option>
              <mat-option value="men">آقایان</mat-option>
              <mat-option value="sport">Sport</mat-option>
            </mat-select>
          </div>
          <div class="animation-fadein field-div">
            <label class="bg-gorgeous-color text-creamy w-100 p-2">
              گروه
            </label>
            <mat-select formControlName="scent">
              <mat-option value="گ۱"> گ۱</mat-option>
              <mat-option value="گ۲">گ۲</mat-option>
            </mat-select>
          </div>
          <div class="animation-fadein field-div">
            <label class="bg-gorgeous-color text-creamy w-100 p-2">
              تحفیف</label
            >
            <mat-select formControlName="discount">
              <mat-option value="5"> 5</mat-option>
              <mat-option value="5"> 10</mat-option>
              <mat-option value="5"> 15</mat-option>
              <mat-option value="5"> 20</mat-option>
              <mat-option value="5"> 25</mat-option>
            </mat-select>
          </div>
          <div class="animation-fadein field-div">
            <label class="bg-gorgeous-color text-creamy w-100 p-2">
              کشور سازنده</label
            >
            <mat-select formControlName="country">
              <mat-option value="Germany"> Germany</mat-option>
              <mat-option value="Japan">Japan</mat-option>
            </mat-select>
          </div>

          <div style="flex-basis: 50%" class="animation-fadein field-div">
            <div>
              <button
                class="m-4 p-3 text-xlarge text-light bg-darker"
                *ngIf="usePicture"
                mat-raised-button
                (click)="selectFile()"
              >
                انتخاب تصویر
              </button>

              <input
                id="file"
                #file
                type="file"
                class="form-control m-3 file"
                (change)="onFileChange($event)"
              />
            </div>
            <div class="w-100 m-4">
              <app-loadingProgressDynamic
                *ngIf="
                  loadingProgress === 'wait login authentication to be done'
                "
              ></app-loadingProgressDynamic>
              <img
                *ngIf="profileImage"
                class="img-thumbnail mr-auto"
                [src]="profileImage"
              />
            </div>
          </div>
          <div class="animation-fadein field-div d-relative">
            <h3 class="p-1 mb-3 text-white">
              توضیحات اضافی که دوست دارید برای کاربران درباره شما نمایش داده
              شوند را بیان نماپید
            </h3>
            <textarea
              #content
              id="content"
              formControlName="content"
              class="bg-darker w-100 text-light"
              name="content"
              (keyup)="checkContent()"
            ></textarea>
          </div>

          <div class="text-center w-100 m-3 p-2">
            <button
              class="w-fit p-3 mr-auto links-bg-fade"
              mat-raised-button
              (click)="submitFile()"
            >
              ادامه
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </form>
</div>
<div
  *ngIf="successSubmit"
  class="w-100 border border-black rounded text-center justify-flex-right p-3"
>
  <img
    src="https://png.pngtree.com/element_our/20190601/ourmid/pngtree-cartoon-boy-and-girl-free-clipart-image_1348229.jpg"
    class="w-25 mr-auto rounded"
  />
  <div class="w-100 text-right p-3 mt-4 bg-gorgeous-color text-light">
    <h3>
      شما یک تیتراژ موفق از خود منتشر کردید. برای ویرایش آن میوانید از این آدرس
      در پروفایل کاربری خود استفاده نمایید
    </h3>
  </div>
</div>
